node_modules/
.DS_Store
*.vsix
bbj-vscode/LICENSE
bbj-vscode/java-interop/bin/
bbj-vscode/java-interop/lib/
/.idea/

# RAG server files
rag-server/.env
rag-server/data/
rag-server/dist/
rag-server/logs/
