node_modules/
.DS_Store
*.vsix
bbj-vscode/LICENSE
bbj-vscode/java-interop/bin/
bbj-vscode/java-interop/lib/
/.idea/

# RAG server files
bbj-vscode/rag-server/.env
bbj-vscode/rag-server/data/
bbj-vscode/rag-server/dist/
bbj-vscode/rag-server/logs/
